body {
    font-family: 'Poppins', sans-serif;
  }
  
ul {
    margin-left: auto;
    vertical-align: top;
    display: inline;
    width: 50%; 
    width: 80%;
  }


li {
    display: inline;
    padding: 8px;
  }

  .myLogo { 
    align-items: left;
    
    
    
}
.herotitle {
    width: 80%;
    height: 500px;
    padding-left: 10%;
    padding-right: 20%;
    align-items: center;
    padding-bottom: 20px;

}
h4 {
    font-size: 80px;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
    text-align: left;
    padding-left: 20px;
}
h3{
    font-size: 40px;
    text-align: left;
    padding-left: 20px;
}
p {
    font-size: 25px;
    text-align: left;
    padding-left: 20px;
}

.grid-container1 { 
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 100px;
    width: 80%;
    height: 600px;
    padding-left: 10%;
    padding-right: 20%;
    align-items: center;
    padding-top: 20px;
   
}
.grid-container1 > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    
  }

  img { 
width: 215px;
height: 400px;
  }

  .grid-container2 { 
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 100px;
    width: 80%;
    height: 600px;
    padding-left: 10%;
    padding-right: 20%;
    align-items: center;
    padding-top: 15%;
   
}
.grid-container2 > div {
    text-align: left;
    padding: 20px 0;
    font-size: 30px;
}

.button {
    background-color: #EECEC8;
    border-radius: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    
  }
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
margin-right: 10%;
}
footer {
        display: flex;
        align-items: right;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
    }